.GeneralInfo-wrapper{
    background: #F6F6F6;
    min-width: 100vh;
}
.container {
    /* width: 1200px; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.GeneralInfo{padding-top: 50px;
    padding-bottom: 50px;
}
.GeneralInfo_box{
    margin: auto;
    width: 960px;
    padding: 30px 60px;
    background: #fff;
    border-radius: 15px;
}
.GeneralInfo_box h3{
    font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
color: #198A29;
text-align: center;

}
.GeneralInfo_box p{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0em;
color: #737373;
}
.GeneralInfo_card{
    width: 840px;
height: 45px;
background: rgba(213, 255, 219, 1);
color: #000;
padding: 10px 20px;
text-align: left;

}
.GeneralInfo-form label{
    font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 17px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 9px;
color: rgba(115, 115, 115, 1);

}
.GeneralInfo-form input[type="text"],.GeneralInfo-form input[type="date"]{
    width: 840px;
height: 45px;
border-radius: 6px;
border: 1px solid #D9D9D9;
padding: 12px;
}
.GeneralInfo-form select{
    width: 840px;
height: 45px;
border-radius: 6px;
border: 1px solid #D9D9D9;
padding: 12px;
}
.GeneralInfo-form2 input[type="text"],.GeneralInfo-form2 input[type="date"]{
    width: 400px;
height: 45px;
border-radius: 6px;
border: 1px solid #D9D9D9;
padding: 12px;
}
.GeneralInfo-form2 label{
    font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 17px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 9px;
color: rgba(115, 115, 115, 1);

}
.GeneralInfo-form2 select{
    width: 400px;
height: 45px;
border-radius: 6px;
border: 1px solid #D9D9D9;
padding: 12px;
}