.Download-wrapper{
    background: #F6F6F6;
    min-height: 100vh;
}
.container {
    /* width: 1200px; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.Download{padding-top: 50px;
    padding-bottom: 50px;
}
.Download_box{
    margin: auto;
    width: 960px;
    padding: 30px 60px;
    background: #fff;
    border-radius: 15px;
}
.Download_box h3{
    font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
color: #198A29;
text-align: center;

}
.Download_box p{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0em;
text-align: center;
color: #737373;
}
.download{
    width: 840px;
height: 45px;
border-radius: 6px;
border: 1px solid rgba(217, 217, 217, 1);
padding: 12px;

}
.download a{
    text-decoration: none;
    color: rgba(69, 69, 69, 1);
}