.registration-wrapper{
    background: #F6F6F6;
    height: 86vh;
}
.container {
    /* width: 1200px; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.registration{padding-top: 50px;
}
.registration_box{
    margin: auto;
    width: 960px;
    height: 553px;
    padding: 30px 60px;
    background: #fff;
    border-radius: 15px;
}
.registration_box h3{
    font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
color: #198A29;
text-align: center;

}
.registration_box p{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0em;
text-align: center;
color: #737373;
}
.registration-form label{
    font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 17px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 9px;

}
.registration-form input{
    width: 840px;
height: 45px;
border-radius: 6px;
border: 1px solid #D9D9D9;
padding: 12px;
}
.addPhone{
    border: none;
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0px;
text-align: center;
margin:  25px auto;
color: #000;
background: inherit;
}
.PublicOffer label {
    margin-left: 10px;
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0px;
text-align: left;

}
.PublicOffer label a{
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0px;
text-align: left;}
.registration_continue{
    margin-top: 60px;
    width: 140px;
    height: 45px;
    background: rgba(25, 138, 41, 0.5);
    color: #fff;
    border: none;
    border-radius: 10px;
}
.registration_contact{
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
color: #198A29;
margin-top: 60px;

}